## coding=utf-8
<%namespace name='static' file='static_content.html'/>
<%!
from django.core.urlresolvers import reverse
from django.utils.http import urlquote_plus
from django.utils.translation import ugettext as _
from microsite_configuration import microsite
from microsite_configuration import page_title_breadcrumbs
from branding import api as branding_api
%>
<!DOCTYPE html>
<!--[if lte IE 9]><html class="ie ie9 lte9" lang="${LANGUAGE_CODE}"><![endif]-->
<!--[if !IE]><!--><html lang="${LANGUAGE_CODE}"><!--<![endif]-->
<head dir="${static.dir_rtl()}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    % if responsive:
    <meta name="viewport" content="width=device-width, initial-scale=1">
    % endif

## Define a couple of helper functions to make life easier when
## embedding theme conditionals into templates. All inheriting
## templates have access to these functions, and we can import these
## into non-inheriting templates via the %namespace tag.
<%def name="theme_enabled()">
  <% return settings.FEATURES.get("USE_CUSTOM_THEME", False) %>
</%def>
<%def name="is_microsite()">
  <% return microsite.is_request_in_microsite() %>
</%def>

<%def name="stanford_theme_enabled()">
  <%
    if not theme_enabled():
      return False

    return getattr(settings, "THEME_NAME", None) == "stanford"
  %>
</%def>

## this needs to be here to prevent the title from mysteriously appearing in the body, in one case
<%def name="pagetitle()" />
  <%block name="title">
      <title>
       ${page_title_breadcrumbs(self.pagetitle())}
      </title>
  </%block>

  % if not allow_iframing:
      <script type="text/javascript">
        /* immediately break out of an iframe if coming from the marketing website */
        (function(window) {
          if (window.location !== window.top.location) {
            window.top.location = window.location;
          }
        })(this);
      </script>
  % endif

  <script type="text/javascript" src="/jsi18n/"></script>

  <link rel="icon" type="image/x-icon" href="${static.url(microsite.get_value('favicon_path', settings.FAVICON_PATH))}" />

  <%static:css group='style-vendor'/>
  <%static:css group='style-main'/>

  % if disable_courseware_js:
    <%static:js group='base_vendor'/>
  % else:
    <%static:js group='main_vendor'/>
  % endif

  <script>
    window.baseUrl = "${settings.STATIC_URL}";
    (function (require) {
    % if settings.DEBUG is True:
        ## Using what amounts to a random number in the Development environment for cache-busting
        var urlArgs = "bust=" + (new Date()).getTime();
    % else:
        var urlArgs = "v=${settings.EDX_PLATFORM_REVISION}";
    % endif
      require.config({
          baseUrl: baseUrl,
          urlArgs: urlArgs
      });
    }).call(this, require || RequireJS.require);
  </script>
  <script type="text/javascript" src="${static.url("require-config-lms.js")}"></script>

  <%block name="headextra"/>

<%
  if theme_enabled() and not is_microsite():
    header_extra_file = 'theme-head-extra.html'
    header_file = 'theme-header.html'
    google_analytics_file = 'theme-google-analytics.html'

    style_overrides_file = None

  else:
    header_extra_file = None

    if settings.FEATURES['IS_EDX_DOMAIN'] and not is_microsite():
        header_file = microsite.get_template_path('navigation-edx.html')
    else:
        header_file = microsite.get_template_path('navigation.html')

    google_analytics_file = microsite.get_template_path('google_analytics.html')

    style_overrides_file = microsite.get_value('css_overrides_file')
%>

  % if header_extra_file:
    <%include file="${header_extra_file}" />
  % endif

  <%include file="widgets/optimizely.html" />
  <%include file="widgets/segment-io.html" />

  <meta name="path_prefix" content="${EDX_ROOT_URL}">
  <meta name="google-site-verification" content="_mipQ4AtZQDNmbtOkwehQDOgCxUUV2fb_C0b6wbiRHY" />

  <%include file="${google_analytics_file}" />

% if style_overrides_file:
  <link rel="stylesheet" type="text/css" href="${static.url(style_overrides_file)}" />
% endif
  

<script>

// Adds the problem pop up during video functionality
$(document).ready(function(){

  // Declaring semi-global variables for later use.
  var video = $('.video');
  var state;
  var time;
  var problemCounter;
  var skipEmAll;
  var protectedTime = false;
  var problemsBeingShown = 0;


  // Convert mm:ss format in popUpProblemTimer to seconds.
  for (var i = 0; i < popUpProblemTimer.length; i++){
      for (var key in popUpProblemTimer[i]) {
            if (key == 'time') {
                popUpProblemTimer[i].time = hmsToTime(popUpProblemTimer[i].time)
            }
        }
    }
  
  // Sort the popUpProblemTimer by time.
  popUpProblemTimer.sort(timeCompare);  // Uses a custom function to sort by time.

    
    // Sets default options if any of them have not been included.
    if (typeof HXpopUpOptions === 'undefined') { var HXpopUpOptions = {}; }
    if (typeof HXpopUpOptions.width === 'undefined') { HXpopUpOptions.width = 800; }
    if (typeof HXpopUpOptions.effect === 'undefined') { HXpopUpOptions.effect = 'fade'; }
    if (typeof HXpopUpOptions.effectlength === 'undefined') { HXpopUpOptions.effectlength = 200; }
    if (typeof HXpopUpOptions.myPosition === 'undefined') { HXpopUpOptions.myPosition = 'center'; }
    if (typeof HXpopUpOptions.atPosition === 'undefined') { HXpopUpOptions.atPosition = 'center'; }
    if (typeof HXpopUpOptions.ofTarget === 'undefined') { HXpopUpOptions.ofTarget = window; }
  

  // Log play/pause events from the player.
  // Also set the play/pause external control properly.
  video.on('pause', function () {
  
    console.log('pause');
    $('#playpauseicon').html('&#8227;');
    $('#playpauseword').html('Play');
  });

  video.on('play', function () {
  
    console.log('play');
    // Also set the play/pause external control properly.
    $('#playpauseicon').html('||'); // Need a better-looking pause icon.
    $('#playpauseword').html('Pause');
  });
  
  // Check to see whether the video is ready before continuing.
  var waitForVid = setInterval(function(){

    state = video.data('video-player-state'); // Sometimes this fails and that's ok.

    if (state.videoPlayer.isCued()){
      console.log('video data loaded');
      clearInterval(waitForVid);
      var pause = setTimeout(function(){
        console.log('done waiting');
        setUpData();
        setUpControls();
        mainLoop();
      }, 0);
    }
  }, 100);
  
  // Checks local storage and gets data from the video.
  function setUpData(){
  
    console.log('setting up data');
  
    // Get the video data.
    video =  $('.video');
    state = video.data('video-player-state');
    time = state.videoPlayer.currentTime;
    
    // Storing a separate problem counter for each video.
    // Create the counter if it doesn't exist.
    if(!localStorage[state.id + '-counter']){
      localStorage[state.id + '-counter'] = '0';
      localStorage[state.id + '-skip'] = 'false';
      
      // If the counter didn't exist, we're on a new browser.
      // Clear the questions from before the current time.
      clearOlderPopUps(time);
    }
    
    // Which problem are we on?   Using + to cast as integer.
    problemCounter = +localStorage[state.id + '-counter'];
    
    // Are we currently skipping problems?
    skipEmAll = (localStorage[state.id + '-skip'] === 'true');
    // If so, let's update the button.
    if(skipEmAll){
      $('#sunmoon').html('&#9790;');
      $('#onoff').html('Problems are Off');
      
      console.log('problems are off after reload');
    }

    // Let's avoid situations where we're faced with a question
    // mere seconds after the page loads, shall we?
    // Unless we're past the last problem...
    if(time < popUpProblemTimer[popUpProblemTimer.length-1].time) {
      if(problemCounter > 0){
        // Go to just after the previous question...
        ISaidGoTo(popUpProblemTimer[problemCounter-1].time + 1);
      }else{
        // Or all the way back to the beginning.
        ISaidGoTo(0);
      }
    }
  }
  
  // Makes the buttons work and sets up event handlers.
  function setUpControls(){   
    
    console.log('setting up controls');
  
    // If they seek to a specific position, set the problem counter appropriately 
    // so that earlier problems don't gang up on them.
    video.on('seek', function(event, ui) {
      clearOlderPopUps(ui);
    });
      
    // Let someone go through the problems again if they want.
    // Also useful for debugging.
    $('#popUpReset').on('click tap', function(){
      updateProblemCounter(0);
      ISaidGoTo(0);
      
      console.log('reset counter and time to zero');
      
      // If problems are currently on, turn them off for two seconds after we go back.
      // This addresses a bug that appears in Mobile Safari.
      // Note that you can't put questions in the first two seconds of the video
      // because of this.
      if(!skipEmAll){
        skipEmAll = true;
        var dontSpamProblemsEarly = setTimeout(function(){
          skipEmAll = false;
        }, 2000);
      }
      
    });
    
    // Go back to one second after the previous problem.
    $('#backOneProblem').on('click tap', function(){
      if(problemCounter > 1){
        var newTime = popUpProblemTimer[problemCounter-2].time + 1;
        ISaidGoTo(newTime);
        
        console.log('going back one problem');
      }else{
        updateProblemCounter(0);
        ISaidGoTo(0);
        
        console.log('going back to beginning');
      }
    });
    
      
    // Play or pause the video
    $('#popUpPlayPause').on('click tap', function(){
      if(state.videoPlayer.isPlaying()){
        state.videoPlayer.pause();
        $('#playpauseicon').html('&#8227;');
        $('#playpauseword').html('Play');
        
        console.log('play from exterior controls');
      }else{
        state.videoPlayer.play();
        $('#playpauseicon').html('||');
        $('#playpauseword').html('Pause');
        
        console.log('pause from exterior controls');
      }
    });
        
    // Let someone turn the pop-up questions on and off.
    // Give visual indication by changing the button.
    $('#problemToggle').on('click tap', function(){
      if(skipEmAll){
        skipEmAll = false;
        localStorage[state.id + '-skip'] = 'false';
        $('#sunmoon').html('&#9788;');
        $('#onoff').html('Problems are On');
        
        console.log('no longer skipping all problems from time ' + time);
      }else{
        skipEmAll = true;
        localStorage[state.id + '-skip'] = 'true';
        $('#sunmoon').html('&#9790;');
        $('#onoff').html('Problems are Off');
      
        console.log('skipping all problems from time ' + time);
      }
    });
        
  }
  
  // Every 500 ms, check to see whether we're going to add a new problem.
  function mainLoop(){
  
    var timeChecker = setInterval(function(){
      
      state.videoPlayer.update();   // Forced update of time. Required for Safari.
      time = state.videoPlayer.currentTime;

      if(problemCounter < popUpProblemTimer.length){
        if(time > popUpProblemTimer[problemCounter].time){
        
          if(!skipEmAll && !protectedTime){
            state.videoPlayer.pause();
            popUpProblem(popUpProblemTimer[problemCounter].title, state,parseInt(popUpProblemTimer[problemCounter].next));

            

            updateProblemCounter(problemCounter+1);
          }else{
            // We're still incrementing and tracking even if we skip problems.
            updateProblemCounter(problemCounter+1);
          }
        }
      }
    }, 500);
  
  }
  
  // Set all the time-related stuff to a particular time and then seek there.
  // Does the work of creating the dialogue.
  // It pulls a question from lower down in the page, and puts it back when we're done.
  function popUpProblem(title, state,next){
    
    // Find the div for the problem based on its title.
    var problemDiv = $('h2:contains(' + title + ')').closest('.vert');

    var problemID = $('h2:contains(' + title + ')').parent().attr('id');
    
    var nextDiv, tempDiv;
    var dialogDiv = problemDiv;
    var includenext = false;
    
    // Sometimes we can't find an h2 to latch onto.
    // We put <span style="display:none" class="includer">includenext</span> into an HTML bit before it.
    // The dialog then displays the next item, and appends a clone of the HTML before it.
    if(problemDiv.find('span.includer').text() == 'includenext'){
      nextDiv = problemDiv.next();
      includenext = true;
    }
    
    if(includenext){dialogDiv = nextDiv;}
    
    
    console.log('displaying problem: ' + title + ' ' + problemID);
    
    // Make a modal dialog out of the chosen problem.
    dialogDiv.dialog({
      modal: true,
      dialogClass: "no-close",
      resizable: true,
      width: HXpopUpOptions.width,
      show: { 
        effect: HXpopUpOptions.effect, 
        duration: HXpopUpOptions.effectlength 
      },
      position: {
          my: HXpopUpOptions.myPosition,
          at: HXpopUpOptions.atPosition,
          of: HXpopUpOptions.ofTarget
      },
      buttons: {
        'Skip': function() {
          if(includenext){tempDiv.remove();}  // We added it, we should erase it.
          dialogDestroyed('skip_problem');
          $( this ).dialog( 'destroy' );  // Put the problem back when we're done.
        },
        'Done': function() {
          if(includenext){tempDiv.remove();}  // We added it, we should erase it.
          dialogDestroyed('mark_done');
          problemSearch=problemID.split('problem');
          console.log('searching for'+problemSearch[2]);

          if($('span[aria-describedby*='+problemSearch[2]+']').hasClass('correct'))
          {
            state.videoPlayer.seekTo(next);

          }

          
          
          $( this ).dialog( 'destroy' );  // Put the problem back when we're done.
        },
      },
      open: function() {
        // If we're including two divs, append a clone of the first one above.
        if(includenext){
          tempDiv = problemDiv.clone();
          dialogDiv.prepend(tempDiv);
          console.log('pushing in front');
        }
        // Highlight various controls.
        $('span.ui-button-text:contains("Done")').addClass('answeredButton');
        $('input.check.Check').attr('style', '  background: linear-gradient(to top, #9df 0%,#7bd 20%,#adf 100%); background-color:#ACF; text-shadow: none;');
        problemsBeingShown++;
      },
      close: function(){ 
        state.videoPlayer.play(); 
        if(includenext){tempDiv.remove();}  // We added it, we should erase it.
        
        console.log('dialog closed');  // Should be pretty rare. I took out the 'close' button.
      }
    });
  }
  
  // Log the destruction of the dialog and play the video if there are no more dialogs up.
  function dialogDestroyed(message){
    
    console.log(message);
    $('input.check.Check').removeAttr('style');  // un-blue the check button.
    problemsBeingShown--;
    if(problemsBeingShown < 1){
      state.videoPlayer.play();
    }
  }
  
  // This resets the problem counter to match the time.
  function clearOlderPopUps(soughtTime){
    
    console.log('sought to time ' + soughtTime);
    updateProblemCounter(0);  // Resetting fresh.
    for(var i = 0; i < popUpProblemTimer.length; i++){
      if(soughtTime > popUpProblemTimer[i].time){
        updateProblemCounter(i+1);
        console.log('new problem counter: ' + problemCounter);
      }else{
        break;
      }
    }
  }
  
  // I blame multiple Javascript timing issues.
  function ISaidGoTo(thisTime){
    time = thisTime;
    state.videoPlayer.seekTo(thisTime);
    console.log('I said go to ' + thisTime);
  }
  
  // Keep the counter and the local storage in sync.
  function updateProblemCounter(number){
    problemCounter = number;
    localStorage[state.id + '-counter'] = number.toString();
    console.log('counter set to ' + problemCounter);
  }

  // Converts hh:mm:ss to a number of seconds for time-based problems.
  // If it's passed a number, it just spits that back out as seconds.

  
  function hmsToTime(hms){

    hms = hms.toString();

    var hmsArray = hms.split(':');
    var time = 0;
  
    if(hmsArray.length == 3){
      time = 3600*parseInt(hmsArray[0]) + 60*parseInt(hmsArray[1]) + Number(hmsArray[2]);
    }
    else if(hmsArray.length == 2){
      time = 60*parseInt(hmsArray[0]) + Number(hmsArray[1]);
    }
  
    else if(hmsArray.length == 1){
      time = Number(hmsArray[0]);
    }
  
    return time;
  }

  // This is a sorting function for my timer.
  function timeCompare(a,b){
    if (a.time < b.time)
      return -1;
    if (a.time > b.time)
      return 1;
    return 0;
  }
  
});


</script>

<style>

/* This styles the pop up question that appears during videos  */
.ui-widget-overlay {
   background: #666;
   opacity: .30;
   filter: Alpha(Opacity=30);
   position:fixed;
}

.ui-dialog { 
  z-index: 1000;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog-titlebar {
  background: linear-gradient(to top, #ccc 0%,#bbb 20%,#eee 100%);
  border: 1px solid #AAA;
}

.answeredButton {
  background: linear-gradient(to top, #9fd 0%,#7db 20%,#afd 100%);
  background-color:#afc;
  text-shadow: none;
}

span.VQControls {
  font-size: 150%;
}

span#onoff {
  font-weight: bold;
}

span#playpauseword{
  font-weight: bold;
}


</style>










</head>

<body class="${static.dir_rtl()} <%block name='bodyclass'/> lang_${LANGUAGE_CODE}">
% if not disable_window_wrap:
  <div class="window-wrap" dir="${static.dir_rtl()}">
% endif
    <a class="nav-skip" href="<%block name="nav_skip">#content</%block>">${_("Skip to main content")}</a>

    % if not disable_header:
        <%include file="${header_file}" />
    % endif

    <div class="content-wrapper" id="content">
      ${self.body()}
      <%block name="bodyextra"/>
    </div>

    % if not disable_footer:
        <%block name="footer">
          ## Can be overridden by child templates wanting to hide the footer.
          % if theme_enabled() and not is_microsite():
            <%include file="theme-footer.html" />
          % elif settings.FEATURES.get('IS_EDX_DOMAIN', False) and not is_microsite():
              <%include file="footer-edx-v3.html" />
          % else:
            <%include file="${microsite.get_template_path('footer.html')}" />
          % endif
        </%block>
    % endif

% if not disable_window_wrap:
  </div>
% endif

  % if not disable_courseware_js:
    <%static:js group='application'/>
    <%static:js group='module-js'/>
  % endif

  <%block name="js_extra"/>
  <script type="text/javascript" src="${static.url('js/vendor/noreferrer.js')}" charset="utf-8"></script>
</body>
</html>

<%def name="login_query()">${
  u"?course_id={0}&enrollment_action={1}{course_mode}{email_opt_in}".format(
    urlquote_plus(course_id),
    urlquote_plus(enrollment_action),
    course_mode=(
      u"&course_mode=" + urlquote_plus(course_mode)
      if course_mode else ""
    ),
    email_opt_in=(
      u"&email_opt_in=" + urlquote_plus(email_opt_in)
      if email_opt_in else ""
    )
  ) if course_id and enrollment_action else ""
}</%def>

<!-- Performance beacon for onload times -->
% if settings.FEATURES.get('ENABLE_ONLOAD_BEACON', False):
<script>
  (function () {
    var sample_rate = ${settings.ONLOAD_BEACON_SAMPLE_RATE};
    var roll = Math.floor(Math.random() * 100)/100;
    var onloadBeaconSent = false;

    if(roll < sample_rate){
      $(window).load(function() {
        setTimeout(function(){
          var t = window.performance.timing;

          var data = {
            event: "onload",
            value: t.loadEventEnd - t.navigationStart,
            page: window.location.href,
          };

          if (!onloadBeaconSent) {
            $.ajax({method: "POST", url: "/performance", data: data});
          }
          onloadBeaconSent = true;
        }, 0);
      });
    }
  }());
</script>
% endif
