<%! from django.utils.translation import ugettext as _ %>

% if display_name is not UNDEFINED and display_name is not None:
    <h2>${display_name}</h2>
% endif

<p id="popUpTimingsInfo" style="display:none"></p>


<div
    id="video_${id}"
    class="video closed"
    data-metadata='${metadata}'
    data-bumper-metadata='${bumper_metadata}'
    data-poster='${poster}'
    tabindex="-1"
>
    <div class="focus_grabber first"></div>

    <div class="tc-wrapper">
      <a href="#before-transcript_${id}" class="nav-skip sr">${_("Skip to a navigable version of this video's transcript.")}</a>

      <article class="video-wrapper">
          <span tabindex="0" class="spinner" aria-hidden="false" aria-label="${_('Loading video player')}"></span>
          <span tabindex="-1" class="btn-play is-hidden" aria-hidden="true" aria-label="${_('Play video')}"></span>
          <div class="video-player-pre"></div>
          <section class="video-player">
              <div id="${id}"></div>
              <h3 class="hidden">${_('No playable video sources found.')}</h3>
          </section>
          <div class="video-player-post"></div>
          <section class="video-controls is-hidden">
              <div>
                  <div class="vcr"><div class="vidtime">0:00 / 0:00</div></div>
                  <div class="secondary-controls"></div>
              </div>
          </section>
          <a class="nav-skip sr" id="before-transcript_${id}" href="#after-transcript_${id}">${_('Skip to end of transcript.')}</a>
      </article>
    </div>

    <a class="nav-skip sr" id="after-transcript_${id}" href="#before-transcript_${id}">${_('Go back to start of transcript.')}</a>

    <div class="focus_grabber last"></div>
  <ul class="wrapper-downloads">
    % if download_video_link:
        <li class="video-sources video-download-button">
            <a href="${download_video_link}">${_('Download video')}</a>
        </li>
    % endif
    % if track:
        <li class="video-tracks video-download-button">
          % if transcript_download_format:
            <a href="${track}">${_('Download transcript')}</a>
            <div class="a11y-menu-container">
                <a class="a11y-menu-button" href="#" title="${'.' + transcript_download_format}" role="button" aria-disabled="false">${'.' + transcript_download_format}</a>
                <ol class="a11y-menu-list" role="menu">
                % for item in transcript_download_formats_list:
                  % if item['value'] == transcript_download_format:
                  <li class="a11y-menu-item active">
                  % else:
                  <li class="a11y-menu-item">
                  % endif
                  ## This is necessary so we don't scrape 'display_name' as a string.
                  <% dname = item['display_name'] %>
                      <a class="a11y-menu-item-link" href="#${item['value']}" title="${_(dname)}" data-value="${item['value']}" role="menuitem" aria-disabled="false">
                        ${_(dname)}
                      </a>
                  </li>
                % endfor
                </ol>
            </div>
          % else:
            <a href="${track}" class="external-track">${_('Download transcript')}</a>
          % endif
        </li>
    % endif
    % if handout:
        <li class="video-handout video-download-button">
            <a href="${handout}" target="_blank">${_('Download Handout')}</a>
        </li>
    % endif

    % if branding_info:
      <li id="branding" class="branding">
        <span class="host-tag">${branding_info['logo_tag']}</span>
        <a href="${branding_info['url']}" target="_blank" title="${branding_info['logo_tag']}"><img class="brand-logo" src="${branding_info['logo_src']}" alt="${branding_info['logo_tag']}" /></a>
      </li>
    % endif
  </ul>
</div>
% if cdn_eval:
<script>
  function sendPerformanceBeacon(id, expgroup, value, event_name) {
    var data = {event: event_name, id: id, expgroup: expgroup, value: value, page: "html5vid"};
    $.ajax({method: "POST", url: "/performance", data: data});
  }
  var cdnStartTime;
  var salt = Math.floor((1 + Math.random()) * 0x100000).toString(36);
  function initializeCDNExperiment() {
    sendPerformanceBeacon("${id}_" + salt, ${cdn_exp_group}, "", "load");
    cdnStartTime = Date.now();
    $.each(['loadstart', 'abort', 'error', 'stalled', 'loadedmetadata',
                    'loadeddata', 'canplay', 'canplaythrough', 'seeked'],
                    function(index, eventName) {
      $("#video_${id}").bind("html5:" + eventName, null, function() {
        timeElapsed = Date.now() - cdnStartTime;
        sendPerformanceBeacon("${id}_" + salt, ${cdn_exp_group}, timeElapsed, eventName);
      });
    });
  }
  $("#video_${id}").bind("initialize", null, initializeCDNExperiment);
  if ($("#video_${id}").hasClass("is-initialized")) {
    initializeCDNExperiment();
  }
</script>
% endif;

<script>


// All of the items below are optional; feel free to chuck any or all of them.
// They set the window width, appearance/disappearance effects, and location.

var HXpopUpOptions = 
{
  width: 800,            // pixels
  effect: "fade",        // jQuery UI effect
  effectlength: 200,     // miliseconds
  myPosition: "center",  // location like "left center"
  atPosition: "center",  // location like "right top"
  ofTarget: window       // JQuery object like $('.video')
};

</script>


<!-- 
  Make sure that the script and link tags below are included. 
  You will not need to change these. 
-->



<script>

// Adds the problem pop up during video functionality
$(window).load(function(){



function IsJsonString(str) {
    try {
        JSON.parse(str);
    } catch (e) {
        return false;
    }
    return true;
}

var popUpTimingsInfo=$('#popUpTimingsInfo').html();
var timingArray=popUpTimingsInfo.split("#");

/*  var popUpProblemTimer = 
[
  {time: "15", title: "BVS",next:"45"}

];
*/

var popUpProblemTimer=[];
//console.log('Lenght='+popUpProblemTimer.length); 
 


for(var i=0;i<timingArray.length-1;i++)
{


  
  popUpProblemTimer.push(JSON.parse(timingArray[i]));


}

  
  // Declaring semi-global variables for later use.
  var video = $('.video');
  var state;
  var time;
  var problemCounter;
  var skipEmAll;
  var protectedTime = false;
  var problemsBeingShown = 0;


  // Convert mm:ss format in popUpProblemTimer to seconds.
  for (var i = 0; i < popUpProblemTimer.length; i++){
      for (var key in popUpProblemTimer[i]) {
            if (key == 'time') {
                popUpProblemTimer[i].time = hmsToTime(popUpProblemTimer[i].time)
            }
        }
    }
  
  // Sort the popUpProblemTimer by time.
  popUpProblemTimer.sort(timeCompare);  // Uses a custom function to sort by time.

    
    // Sets default options if any of them have not been included.
    if (typeof HXpopUpOptions === 'undefined') { var HXpopUpOptions = {}; }
    if (typeof HXpopUpOptions.width === 'undefined') { HXpopUpOptions.width = 800; }
    if (typeof HXpopUpOptions.effect === 'undefined') { HXpopUpOptions.effect = 'fade'; }
    if (typeof HXpopUpOptions.effectlength === 'undefined') { HXpopUpOptions.effectlength = 200; }
    if (typeof HXpopUpOptions.myPosition === 'undefined') { HXpopUpOptions.myPosition = 'center'; }
    if (typeof HXpopUpOptions.atPosition === 'undefined') { HXpopUpOptions.atPosition = 'center'; }
    if (typeof HXpopUpOptions.ofTarget === 'undefined') { HXpopUpOptions.ofTarget = window; }
  

  // Log play/pause events from the player.
  // Also set the play/pause external control properly.
  video.on('pause', function () {
  
    console.log('pause');
    $('#playpauseicon').html('&#8227;');
    $('#playpauseword').html('Play');
  });

  video.on('play', function () {
  
    console.log('play');
    // Also set the play/pause external control properly.
    $('#playpauseicon').html('||'); // Need a better-looking pause icon.
    $('#playpauseword').html('Pause');
  });
  
  // Check to see whether the video is ready before continuing.
  var waitForVid = setInterval(function(){

    state = video.data('video-player-state'); // Sometimes this fails and that's ok.

    if (state.videoPlayer.isCued()){
      console.log('video data loaded');
      clearInterval(waitForVid);
      var pause = setTimeout(function(){
        console.log('done waiting');
        setUpData();
        setUpControls();
        mainLoop();
      }, 0);
    }
  }, 100);
  
  // Checks local storage and gets data from the video.
  function setUpData(){
  
    console.log('setting up data');
  
    // Get the video data.
    video =  $('.video');
    state = video.data('video-player-state');
    time = state.videoPlayer.currentTime;
    
    // Storing a separate problem counter for each video.
    // Create the counter if it doesn't exist.
    if(!localStorage[state.id + '-counter']){
      localStorage[state.id + '-counter'] = '0';
      localStorage[state.id + '-skip'] = 'false';
      
      // If the counter didn't exist, we're on a new browser.
      // Clear the questions from before the current time.
      clearOlderPopUps(time);
    }
    
    // Which problem are we on?   Using + to cast as integer.
    problemCounter = +localStorage[state.id + '-counter'];
    
    // Are we currently skipping problems?
    skipEmAll = (localStorage[state.id + '-skip'] === 'true');
    // If so, let's update the button.
    if(skipEmAll){
      $('#sunmoon').html('&#9790;');
      $('#onoff').html('Problems are Off');
      
      console.log('problems are off after reload');
    }

    // Let's avoid situations where we're faced with a question
    // mere seconds after the page loads, shall we?
    // Unless we're past the last problem...
    if(time < popUpProblemTimer[popUpProblemTimer.length-1].time) {
      if(problemCounter > 0){
        // Go to just after the previous question...
        ISaidGoTo(popUpProblemTimer[problemCounter-1].time + 1);
      }else{
        // Or all the way back to the beginning.
        ISaidGoTo(0);
      }
    }
  }
  
  // Makes the buttons work and sets up event handlers.
  function setUpControls(){   
    
    console.log('setting up controls');
  
    // If they seek to a specific position, set the problem counter appropriately 
    // so that earlier problems don't gang up on them.
    video.on('seek', function(event, ui) {
      clearOlderPopUps(ui);
    });
      
    // Let someone go through the problems again if they want.
    // Also useful for debugging.
    $('#popUpReset').on('click tap', function(){
      updateProblemCounter(0);
      ISaidGoTo(0);
      
      console.log('reset counter and time to zero');
      
      // If problems are currently on, turn them off for two seconds after we go back.
      // This addresses a bug that appears in Mobile Safari.
      // Note that you can't put questions in the first two seconds of the video
      // because of this.
      if(!skipEmAll){
        skipEmAll = true;
        var dontSpamProblemsEarly = setTimeout(function(){
          skipEmAll = false;
        }, 2000);
      }
      
    });
    
    // Go back to one second after the previous problem.
    $('#backOneProblem').on('click tap', function(){
      if(problemCounter > 1){
        var newTime = popUpProblemTimer[problemCounter-2].time + 1;
        ISaidGoTo(newTime);
        
        console.log('going back one problem');
      }else{
        updateProblemCounter(0);
        ISaidGoTo(0);
        
        console.log('going back to beginning');
      }
    });
    
      
    // Play or pause the video
    $('#popUpPlayPause').on('click tap', function(){
      if(state.videoPlayer.isPlaying()){
        state.videoPlayer.pause();
        $('#playpauseicon').html('&#8227;');
        $('#playpauseword').html('Play');
        
        console.log('play from exterior controls');
      }else{
        state.videoPlayer.play();
        $('#playpauseicon').html('||');
        $('#playpauseword').html('Pause');
        
        console.log('pause from exterior controls');
      }
    });
        
    // Let someone turn the pop-up questions on and off.
    // Give visual indication by changing the button.
    $('#problemToggle').on('click tap', function(){
      if(skipEmAll){
        skipEmAll = false;
        localStorage[state.id + '-skip'] = 'false';
        $('#sunmoon').html('&#9788;');
        $('#onoff').html('Problems are On');
        
        console.log('no longer skipping all problems from time ' + time);
      }else{
        skipEmAll = true;
        localStorage[state.id + '-skip'] = 'true';
        $('#sunmoon').html('&#9790;');
        $('#onoff').html('Problems are Off');
      
        console.log('skipping all problems from time ' + time);
      }
    });
        
  }
  
  // Every 500 ms, check to see whether we're going to add a new problem.
  function mainLoop(){
  
    var timeChecker = setInterval(function(){
      
      state.videoPlayer.update();   // Forced update of time. Required for Safari.
      time = state.videoPlayer.currentTime;

      if(problemCounter < popUpProblemTimer.length){
        if(time > popUpProblemTimer[problemCounter].time){
        
          if(!skipEmAll && !protectedTime){
            state.videoPlayer.pause();
            popUpProblem(popUpProblemTimer[problemCounter].title, state,parseInt(popUpProblemTimer[problemCounter].next));

            

            updateProblemCounter(problemCounter+1);
          }else{
            // We're still incrementing and tracking even if we skip problems.
            updateProblemCounter(problemCounter+1);
          }
        }
      }
    }, 500);
  
  }
  
  // Set all the time-related stuff to a particular time and then seek there.
  // Does the work of creating the dialogue.
  // It pulls a question from lower down in the page, and puts it back when we're done.
  function popUpProblem(title, state,next){
    
    // Find the div for the problem based on its title.
    var problemDiv = $('h2:contains(' + title + ')').closest('.vert');

    var problemID = $('h2:contains(' + title + ')').parent().attr('id');
    
    var nextDiv, tempDiv;
    var dialogDiv = problemDiv;
    var includenext = false;
    
    // Sometimes we can't find an h2 to latch onto.
    // We put <span style="display:none" class="includer">includenext</span> into an HTML bit before it.
    // The dialog then displays the next item, and appends a clone of the HTML before it.
    if(problemDiv.find('span.includer').text() == 'includenext'){
      nextDiv = problemDiv.next();
      includenext = true;
    }
    
    if(includenext){dialogDiv = nextDiv;}
    
    
    console.log('displaying problem: ' + title + ' ' + problemID);
    
    // Make a modal dialog out of the chosen problem.
    dialogDiv.dialog({
      modal: true,
      dialogClass: "no-close",
      resizable: true,
      width: HXpopUpOptions.width,
      show: { 
        effect: HXpopUpOptions.effect, 
        duration: HXpopUpOptions.effectlength 
      },
      position: {
          my: HXpopUpOptions.myPosition,
          at: HXpopUpOptions.atPosition,
          of: HXpopUpOptions.ofTarget
      },
      buttons: {
        'Skip': function() {
          if(includenext){tempDiv.remove();}  // We added it, we should erase it.
          dialogDestroyed('skip_problem');
          $( this ).dialog( 'destroy' );  // Put the problem back when we're done.
        },
        'Done': function() {
          if(includenext){tempDiv.remove();}  // We added it, we should erase it.
          dialogDestroyed('mark_done');
          problemSearch=problemID.split('problem');
          console.log('searching for'+problemSearch[2]);

          if($('span[aria-describedby*='+problemSearch[2]+']').hasClass('correct'))
          {
            state.videoPlayer.seekTo(next);

          }

          
          
          $( this ).dialog( 'destroy' );  // Put the problem back when we're done.
        },
      },
      open: function() {
        // If we're including two divs, append a clone of the first one above.
        if(includenext){
          tempDiv = problemDiv.clone();
          dialogDiv.prepend(tempDiv);
          console.log('pushing in front');
        }
        // Highlight various controls.
        $('span.ui-button-text:contains("Done")').addClass('answeredButton');
        $('input.check.Check').attr('style', '  background: linear-gradient(to top, #9df 0%,#7bd 20%,#adf 100%); background-color:#ACF; text-shadow: none;');
        problemsBeingShown++;
      },
      close: function(){ 
        state.videoPlayer.play(); 
        if(includenext){tempDiv.remove();}  // We added it, we should erase it.
        
        console.log('dialog closed');  // Should be pretty rare. I took out the 'close' button.
      }
    });
  }
  
  // Log the destruction of the dialog and play the video if there are no more dialogs up.
  function dialogDestroyed(message){
    
    console.log(message);
    $('input.check.Check').removeAttr('style');  // un-blue the check button.
    problemsBeingShown--;
    if(problemsBeingShown < 1){
      state.videoPlayer.play();
    }
  }
  
  // This resets the problem counter to match the time.
  function clearOlderPopUps(soughtTime){
    
    console.log('sought to time ' + soughtTime);
    updateProblemCounter(0);  // Resetting fresh.
    for(var i = 0; i < popUpProblemTimer.length; i++){
      if(soughtTime > popUpProblemTimer[i].time){
        updateProblemCounter(i+1);
        console.log('new problem counter: ' + problemCounter);
      }else{
        break;
      }
    }
  }
  
  // I blame multiple Javascript timing issues.
  function ISaidGoTo(thisTime){
    time = thisTime;
    state.videoPlayer.seekTo(thisTime);
    console.log('I said go to ' + thisTime);
  }
  
  // Keep the counter and the local storage in sync.
  function updateProblemCounter(number){
    problemCounter = number;
    localStorage[state.id + '-counter'] = number.toString();
    console.log('counter set to ' + problemCounter);
  }

  // Converts hh:mm:ss to a number of seconds for time-based problems.
  // If it's passed a number, it just spits that back out as seconds.


  function hmsToTime(hms){

    hms = hms.toString();

    var hmsArray = hms.split(':');
    var time = 0;
  
    if(hmsArray.length == 3){
      time = 3600*parseInt(hmsArray[0]) + 60*parseInt(hmsArray[1]) + Number(hmsArray[2]);
    }
    else if(hmsArray.length == 2){
      time = 60*parseInt(hmsArray[0]) + Number(hmsArray[1]);
    }
  
    else if(hmsArray.length == 1){
      time = Number(hmsArray[0]);
    }
  
    return time;
  }

  // This is a sorting function for my timer.
  function timeCompare(a,b){
    if (a.time < b.time)
      return -1;
    if (a.time > b.time)
      return 1;
    return 0;
  }
  
});


</script>

<style>

/* This styles the pop up question that appears during videos  */
.ui-widget-overlay {
   background: #666;
   opacity: .30;
   filter: Alpha(Opacity=30);
   position:fixed;
}

.ui-dialog { 
  z-index: 1000;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog-titlebar {
  background: linear-gradient(to top, #ccc 0%,#bbb 20%,#eee 100%);
  border: 1px solid #AAA;
}

.answeredButton {
  background: linear-gradient(to top, #9fd 0%,#7db 20%,#afd 100%);
  background-color:#afc;
  text-shadow: none;
}

span.VQControls {
  font-size: 150%;
}

span#onoff {
  font-weight: bold;
}

span#playpauseword{
  font-weight: bold;
}


</style>




<h4>Video Question Controls</h4>

<!-- 
  These are the control buttons for the video problems.

  You can change the text in these, but don't change the tags at all.
 
<button id="popUpPlayPause" aria-label="Start"><span id="playpauseicon" class="VQControls">&#8227;</span> <span id="playpauseword">Play</span></button>
<button id="popUpReset" aria-label="Answer Video Problems From Beginning"><span class="VQControls">&#8617;</span> Restart</button>
<button id="backOneProblem" aria-label="Go Back One Question"><span class="VQControls">&#8676;</span> Back One</button>
<button id="problemToggle" aria-label="Toggle Video Problems On/Off"><span id="sunmoon" class="VQControls">&#9788;</span> <span id="onoff">Problems are On</span></button>

  
-->
